ultralytics
opencv-python-headless==4.12.0.88
pandas
numpy
Pillow
pillow-heif
tqdm
albumentations
matplotlib
jupyter
easyocr
ipykernel
pyyaml
streamlit
plotly
pyngrok
imagehash
pytesseract
streamlit_webrtc
av
